<%= form_for :team, url: teams_path do |f| %>
    <p>
    <%= f.label :'Team Name:' %> <br>
    <%= f.text_field :'name' %>
    </p>
 
    <p>
    <%= f.label :'Team Size' %> <br>
    <%= f.number_field :'size' %>
    </p>

  <p>
    <%= f.label :'Contact:' %><br>
    <%= f.email_field :'email' %>
  </p>
  
  <p>
    <%= f.label :'Agree to terms?' %><br>
    <%= f.check_box :'agreed' %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
